.profilePageWrapper {
  display: flex;
  color: whitesmoke;
  width: 100%;
}

.profileContainer {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.user-profile-section {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
}

.profile-image {
  margin: 10px auto;
  width: 150;
  height: 150px;
  border-radius: 50%;
  background-color: grey;
}

.follow-btn {
  background-color: #20272d;
  width: 250px;
  margin: 10px auto;
  height: 40px;
  border-radius: 10px;
  color: whitesmoke;
}

.follower {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 30px;
  gap: 10px;
  margin: 10px auto;
}
