.profilePageWrapper {
  display: flex;
  color: whitesmoke;
  width: 100%;
}

.profileContainer {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.user-profile-section {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
}

.profile-image {
  margin: 10px auto;
  width: 150;
  height: 150px;
  border-radius: 50%;
  background-color: grey;
}

.username {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  flex-direction: column;
  text-align: center;
}

.follow-btn {
  background-color: #20272d;
  width: 250px;
  margin: 5px auto;
  height: 40px;
  border-radius: 10px;
  color: whitesmoke;
}

.follower {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 30px;
  gap: 10px;
  margin: 10px auto;
}

.heatmap {
  margin-left: 100px;
  margin-top: 50px;
}

.logout {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
